<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
</head>
<style>
</style>
<body>
    <div class="container">
        <h2>Payments List</h2>
        <table id="payments">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date of payment</th>
                    {% if user == "admin" %}
                    <th>Student ID</th>
                    {% endif %}
                    <th>Payment ID</th>
                </tr>
            </thead>

<tbody>
    {% for payment in payments %}
    <tr>
        <form class="updateForm" action="/update_payment/{{ payment.paymentId }}" method="POST" style="display: none;">
            <td><input type="text" name="amount" placeholder="{{ payment.amount }}"></td>
            <td><input type="text" name="dateofpayment" placeholder="{{ payment.dateOfPayment }}"></td>
            {% if user == "admin" %}
            <td><input type="text" name="studentId" placeholder="{{ payment.studentId }}"></td>
            {% endif %}
            <td><input type="text" name="paymentId" placeholder="{{ payment.paymentId }}"></td>

        </form>

    </tr>
    {% endfor %}
</tbody>
</table>
{% if user == "admin" %}
</div>
<div class="container">
<h2>Add new payment</h2>
<form action="/payments" method="post">
<label for="studentId">Enter student ID:</label>
<input type="text" id="studentId" name="studentId" required> <br>
<label for="paymentDate">Enter payment date:</label>
<input type="date" id="paymentDate" name="paymentDate" required> <br>
<label for="value">Enter payment value:</label>
<input type="text" id="value" name="value" required> <br>
<button type="submit">Submit</button>
</form>
</div>
<h2>Delete payment</h2>
<form action="/delete_payment"method="POST">
<label for="studentId">Enter student ID:</label>
<input type="text" id="studentId" name="studentId" required> <br>
<label for="paymentId">Enter payment ID:</label>
<input type="text" id="paymentId" name="paymentId" required> <br>
<input type="submit" value="Delete">
</form>

{% endif %}
<a href="/">Back to Home</a>
</body>
</html>